#f {
    blue: #8dbdec;
    green: #ffffff;
    red: #f382ac;
    yellow: #85ecaa;
    violet: #b89ee8;
    comment: #5e5e6f;
    cyan: #55b5db;
    magenta: #ff69c1;
    foreground: #f2f2f2;
    background: #21242b;
}